page-home {

}

.greeting {
  font-size: 2em;
}

.first-letter div {
  display: inline;
  position: absolute;
  border-radius: 50px;
  z-index: -1;
  margin-left: -7px;
  margin-top: 2px;
  width: 30px;
  height: 30px;
}

.hello {
  margin-right: 10px;
}

.menu button:hover {
  background-color: map-get($colors, primary);
  color: map-get($colors, accents02);
}

.menu .item-block .item-inner {
  border-bottom: 1px solid map-get($colors, primary);
  color: map-get($colors, light);
}
